body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header,
.hero-section,
.information-section,
.cta-section,
.quote-section,
.footer {
    padding: 0px 64px;
}

.header,
.hero-section,
.footer {
    background-color: #1F2937;
}

.information-section,
.cta-section {
    background-color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 64px;
}

.header .title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.links {
    display: flex;
    gap: 16px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 64px;
    gap: 32px;
}

.hero-section .left {
    display: flex;
    flex-direction: column;
}

.hero-section .right {
    height: 200px;
    width: 400px;
    flex-shrink: 0;
    background-color: gray;
}

.hero-main-text {
    color: #F9FAF8;
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    margin: 8px 0px;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-cta {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 32px;
    border-radius: 6px;
    align-self: flex-start;
    cursor: pointer;
}

.information-section {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
}

.information-section .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.information-section .images {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.information-section .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-section .image {
    height: 128px;
    width: 128px;
    border: solid;
    border-radius: 20px;
    border-color: #3882F6;
}

.information-section .image-caption {
    width: 128px;
    text-align: center;
}

.quote-section {
    padding: 64px 164px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote-section .quote {
    color: #51565e;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin: 0px;
}

.quote-section .author {
    color: #1F2937;
    font-weight: 900;
    align-self: flex-end;
}
